.video-react .video-react-loading-spinner {
  display: none;
  position: absolute;
  opacity: 1;
  border: none;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0.8;
  box-sizing: border-box;
  background-clip: padding-box;
}
.video-react .video-react-loading-spinner .spinner-main {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid $video-react-primary-foreground-color;
  border-radius: 50%;
}
.video-react .video-react-loading-spinner .spinner-big,
.video-react .video-react-loading-spinner .spinner-small {
  position: absolute;
  overflow: hidden;
  right: calc(50% - 2px);
  top: calc(50% - 2px);
  display: block;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

.video-react .video-react-loading-spinner .spinner-big {
  height: 16px;
  transform-origin: 2px 2px;
  animation: rotate 0.75s infinite linear;
}

.video-react .video-react-loading-spinner .spinner-small {
  height: 12px;
  transform-origin: 2px 2px;
  animation: rotate 5s infinite linear;
}

.video-react-seeking .video-react-loading-spinner,
.video-react-waiting .video-react-loading-spinner {
  display: block;
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}



